@page
@model Nomina.Pages.EmployeeModel
@{
    ViewData["Title"] = "Employees";

    //Variable usadas
    double sueldoMin;
    double SFS;
    double AFP;
    double TotalTSS;
    double topeAFP;
    double topeSFS;
    double IRS;
    double TDesc;
    double TSSaplicado;
    double excedente;
    double SueldoN;

}

<h4 class="text-right">@DateTime.Now</h4>
<h1>Nomina</h1>

<table class="table table-hover ">

    <tr class="bg-primary text-center text-white">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cargo</th>
        <th>Sueldo</th>
        <th>ARS</th>
        <th>AFP</th>
        <th>Total TSS</th>
        <th>IRS</th>
        <th>Total Descuento</th>
        <th>Sueldo Neto</th>
    </tr>



    @foreach (var employee in Model.Employees)
    {
        sueldoMin = 13482;


        if (employee.sueldo > sueldoMin)
        {
            topeAFP = sueldoMin * 20;//269.640
            topeSFS = sueldoMin * 10;//134.820



            //Calculo AFP
            if ((employee.sueldo * 20) <= topeAFP)
            {
                AFP = @employee.sueldo * 0.0287;
            }

            else
            {
                AFP = topeAFP * 0.0287;
            }




            //Calculo SFS
            if ((employee.sueldo * 10) <= topeSFS)
            {
                SFS = @employee.sueldo * 0.0304;
            }

            else
            {
                SFS = topeSFS * 0.0304;
            }

            //Descuento
            TotalTSS = SFS + AFP;

            //Sueldo con descuento de la TSS aplicado
            TSSaplicado = employee.sueldo - TotalTSS;


            //Calculo IRS
            if ((TSSaplicado * 12) <= 416220.00)
            {
                IRS = 0;
            }
            else if ((TSSaplicado * 12) >= 416220.01 && (TSSaplicado * 12) <= 624329.00)
            {
                excedente = TSSaplicado - 416220.01;

                IRS = excedente * 0.15;

            }

            else if ((TSSaplicado * 12) >= 624329.01 && (TSSaplicado * 12) <= 867123.00)
            {
                excedente = (TSSaplicado - 624329.01);

                IRS = (excedente * 0.20) + 31216.00;

            }

            else
            {
                excedente = (TSSaplicado - 867123.01);
                IRS = (excedente * 0.25) + 79776.00;

            }


            TotalTSS = SFS + AFP;
            TDesc = TotalTSS + IRS;
            SueldoN = employee.sueldo - TDesc;


        }
        else
        {
            SFS = 0;
            AFP = 0;
            TotalTSS = SFS + AFP;
            IRS = 0;
            TDesc = 0;
            SueldoN = employee.sueldo;
        }




        //Listado
        <tr class="">
            <td class="font-weight-bold">@employee.nombre</td>
            <td class="font-weight-bold">@employee.apellido</td>
            <td class="font-bold">@employee.cargo</td>
            <td class="text-right">$@employee.sueldo.ToString("0.00")</td>
            <td class="text-right font-italic">$@SFS.ToString("0.00")</td>
            <td class="text-right font-italic">$@AFP.ToString("0.00")</td>
            <td class="text-right font-italic">$@TotalTSS.ToString("0.00")</td>
            <td class="text-right font-italic">$@IRS.ToString("0.00")</td>
            <td class="text-right font-italic">$@TDesc.ToString("0.00")</td>
            <td class="bg-success text-right text-white">$@SueldoN.ToString("0.00")</td>
        </tr>
    }

</table>